<ul class="list-unstyled d-flex align-items-center mb-0 h-100">
  <!-- Desktop Collapse Toggle -->
  <li class="pc-h-item pc-sidebar-collapse d-none d-lg-inline-flex align-items-center">
    <button type="button" title="Contraer/Expandir menú"
      class="pc-head-link ms-0 bg-transparent border-0 text-white d-flex align-items-center justify-content-center p-2 rounded-circle"
      (click)="navCollapse()">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
      </svg>
    </button>
  </li>

  <!-- Mobile Collapse Toggle -->
  <!-- <li class="pc-h-item pc-sidebar-popup d-inline-flex d-lg-none align-items-center">
    <button type="button" title="Menú móvil" class="pc-head-link ms-0 bg-transparent border-0 text-white d-flex align-items-center justify-content-center p-2 rounded-circle"
      (click)="navCollapsedMob()">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>
    </button>
  </li> -->
</ul>